# the upstream component nginx needs to connect to
upstream flask {
    server 127.0.0.1:3031;
}

# configuration of the server
server {
    listen      {{ flask_nginx_port }};
    server_name _;
    charset     utf-8;

    client_max_body_size 75M;   # adjust to taste

    location / {
        uwsgi_pass  flask;
        include uwsgi_params;
    }
}
